<ul>
    <li><a target="_blank" [routerLink]='["/ui_messages"]'>Поруке</a></li>
    <li><a target="_blank" [routerLink]='["/ui_flights"]'>Летови</a></li>
    <li><a target="_blank" [routerLink]='["/ui_reservations"]'>Резервације</a></li>
    <li><a target="_blank" [routerLink]='["/index.html"]'>Индекс</a></li>
</ul>
<ul>
    <li><a target="_blank" [routerLink]='["/flights/list"]'>Листа летова</a></li>
    <li><a target="_blank" [routerLink]='["/reservations/list"]'>Листа резервација</a></li>
    <li><a target="_blank" [routerLink]='["/messages/list/read"]'>Листа прочитаних порука</a></li>
    <li><a target="_blank" [routerLink]='["/messages/list/non_read"]'>Листа непрочитаних порука</a></li>
</ul>
<ul>
    <li><a target="_blank" [routerLink]='["/assets/app_messages/file_not_found.txt"]'>Not found</a></li>
    <li><a target="_blank" [href]='["http://www.google.com"]'>Google</a></li>
</ul>